.answer-box{
  position: absolute;
  top: calc(5%);
  left: calc(5%);
  background-color: #E6EED6;
  height: 90%;
  width: 90%;
  border-radius: 5%;
}
.answer-box--visible{
  display:none;
}
.final-result--visible{
  display:none;
}