.header{
  &__title{
  font-size: 3rem;
  text-align: center;
  color: #E6EED6;
  font-family: 'Anton', sans-serif;
    @media only screen and (max-width: 31.25em) {
      font-size: 2rem;
    }
  }
  &__text, &__warning{
    font-size: 1rem;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    color: #BBC5AA;
  }
  &__img{
    display: block;
    margin: 4px auto;
    padding-bottom: .8125rem;
    @media only screen and (max-width: 31.25em) {
      max-width: 200px;
    }
  }
  &__button{
    font-size: 1.5rem;
    padding: 6px 10px;
    @include buttonProperties;
    @include buttonAnimation;
  }
}
.answer-box{
  position: absolute;
  top: calc(5%);
  left: calc(5%);
  background-color: #E6EED6;
  height: 90%;
  width: 90%;
  border-radius: 5%;
  &__text{
    font-family: 'Slabo 27px', serif;
    font-size: 2rem;
    text-align: center;
    color: #412234;
    @media only screen and (max-width: 31.25em) {
      font-size: 1.5rem;
    }
  }
  &__score{
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    color: #412234;
    font-family: 'Anton', sans-serif;
    @media only screen and (max-width: 31.25em) {
      font-size: 2rem;
    }
  }
  &__button{
    margin: 1rem auto;
    display: block;
    font-size: 1.5rem;
    padding: 6px 10px;
    @include buttonProperties;
    @include buttonAnimation;
  }
  &--visible{
    display:none;
  }
}

.final-result{
  background-color: #E6EED6;
  border-radius: 5%;
  padding: 1rem 0;
  &__header{
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    color: #412234;
    font-family: 'Anton', sans-serif;
    @media only screen and (max-width: 31.25em) {
      font-size: 2rem;
    }
  }
  &__text{
    font-family: 'Slabo 27px', serif;
    font-size: 2rem;
    text-align: center;
    color: #412234;
    margin: 1rem;
    @media only screen and (max-width: 31.25em) {
      font-size: 1.5rem;
    }
  }
  &__score,&__summary{
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: #412234;
    font-family: 'Anton', sans-serif;
    @media only screen and (max-width: 31.25em) {
      font-size: 1rem;
    }
  }
  &__button{
    font-size: 1.5rem;
    padding: 6px 10px;
    @include buttonProperties;
    @include buttonAnimation;
  }
  &--visible{
    display:none;
  }
}