.header{
  
  &__title{
  font-size: 3rem;
  text-align: center;
  color: #E6EED6;
  font-family: 'Anton', sans-serif;
  }
  &__text, &__warning{
    font-size: 1rem;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    color: #BBC5AA;
  }
}
.question{
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #E6EED6;
}
.answer{
  font-family: 'Slabo 27px', serif;
  &__title{
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    color: #E6EED6;
  }
  &__avalible{
    font-size: 2rem;
    text-align: center;
    font-family: inherit;
    color: #E6EED6;
  }
}