.question{
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #E6EED6;
  @media only screen and (max-width: 31.25em) {
    font-size: 1rem;
  }
}
.answer{
  font-family: 'Slabo 27px', serif;
  &__title{
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    color: #00FFFF;
  }
  &__avalible{
    font-size: 1.5rem;
    text-align: center;
    font-family: inherit;
    color: #E6EED6;
    &--gold{
      color: #FFD700;
    }
  }
}