.pagewrapper{
  margin: 3rem auto;
  width: 80vw;
  background-color: #412234;
  box-shadow: 10px 10px 5px 0px rgba(94,90,94,1);
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  @media only screen and (max-width: 31.25em) {
    margin: 2rem auto;
    width: 70vw;
  }
}
.button{
  font-size: 1rem;
  padding: 4px 8px;
  @include buttonProperties;
  @include buttonAnimation;
}
.margin-bottom{
  margin-bottom: .5rem;
}